.color-white {
	color: #EEE;
}

.color-gray {
	color: #666;
}

.color-black {
	color: #111;
}

.color-red {
	color: #F77;
}

.color-blue {
	color: #77F;
}

.color-green {
	color: #7F7;
}

.color-darkred {
	color: #F22;
}

.color-darkblue {
	color: #22F;
}

.color-darkgreen {
	color: #2F2;
}

.color-purple {
	color: #F7F;
}

.color-yellow {
	color: #FF7;
}

.color-cyan {
	color: #7FF;
}

.color-darkpurple {
	color: #E2F;
}

.color-darkyellow {
	color: #EE2;
}

.color-darkcyan {
	color: #2EE;
}